/* header.module.css */
.Header {
    background-color: #33333349;
    padding: 10px;
  }
  
  .Header_nav {
    display: flex;
    gap: 15px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  